@import url('https://themes.googleusercontent.com/fonts/css?kit=XGMkxXUZTA64h2imyzu79g');

ul.lst-kix_t16amf49s78-7 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-8 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-3 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-4 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-5 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-6 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-0 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-1 {
  list-style-type: none
}

ul.lst-kix_t16amf49s78-2 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-7.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-7 0
}

.lst-kix_c6sic8pnjzkd-0>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-0, decimal) ". "
}

.lst-kix_c6sic8pnjzkd-4>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-4
}

.lst-kix_c6sic8pnjzkd-6>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-6
}

ul.lst-kix_kfvv6d1akmvh-5 {
  list-style-type: none
}

.lst-kix_kfvv6d1akmvh-6>li:before {
  content: "-  "
}

.lst-kix_m2jtpwbsyl2a-7>li:before {
  content: "-  "
}

ul.lst-kix_kfvv6d1akmvh-4 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-8>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-8
}

.lst-kix_eke33rz6x0t3-7>li:before {
  content: "\0025cb  "
}

.lst-kix_eke33rz6x0t3-8>li:before {
  content: "\0025a0  "
}

.lst-kix_kfvv6d1akmvh-5>li:before {
  content: "-  "
}

.lst-kix_kfvv6d1akmvh-7>li:before {
  content: "-  "
}

ul.lst-kix_kfvv6d1akmvh-7 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-2>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-2
}

.lst-kix_ldqsemhohrxm-0>li:before {
  content: "-  "
}

.lst-kix_m2jtpwbsyl2a-8>li:before {
  content: "-  "
}

.lst-kix_kcwk45c8pu3d-3>li:before {
  content: "\0025cf  "
}

.lst-kix_kcwk45c8pu3d-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_kfvv6d1akmvh-6 {
  list-style-type: none
}

.lst-kix_ldqsemhohrxm-1>li:before {
  content: "-  "
}

ul.lst-kix_kfvv6d1akmvh-8 {
  list-style-type: none
}

.lst-kix_eke33rz6x0t3-6>li:before {
  content: "\0025cf  "
}

.lst-kix_kcwk45c8pu3d-4>li:before {
  content: "\0025cb  "
}

.lst-kix_kcwk45c8pu3d-8>li:before {
  content: "\0025a0  "
}

.lst-kix_kfvv6d1akmvh-2>li:before {
  content: "-  "
}

.lst-kix_c6sic8pnjzkd-8>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-8, lower-roman) ". "
}

.lst-kix_eke33rz6x0t3-3>li:before {
  content: "\0025cf  "
}

.lst-kix_eke33rz6x0t3-4>li:before {
  content: "\0025cb  "
}

.lst-kix_kfvv6d1akmvh-1>li:before {
  content: "-  "
}

.lst-kix_kcwk45c8pu3d-1>li:before {
  content: "\0025cb  "
}

.lst-kix_kfvv6d1akmvh-0>li:before {
  content: "-  "
}

.lst-kix_kfvv6d1akmvh-8>li:before {
  content: "-  "
}

.lst-kix_eke33rz6x0t3-5>li:before {
  content: "\0025a0  "
}

.lst-kix_co21wru5f8uc-8>li:before {
  content: "-  "
}

.lst-kix_c6sic8pnjzkd-7>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-7, lower-latin) ". "
}

.lst-kix_kcwk45c8pu3d-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_dv0j04e0m88i-1 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-4>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-4, lower-latin) ". "
}

.lst-kix_co21wru5f8uc-7>li:before {
  content: "-  "
}

ul.lst-kix_dv0j04e0m88i-0 {
  list-style-type: none
}

.lst-kix_eke33rz6x0t3-0>li:before {
  content: "\0025cf  "
}

.lst-kix_c6sic8pnjzkd-2>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-2, lower-roman) ". "
}

.lst-kix_c6sic8pnjzkd-6>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-6, decimal) ". "
}

.lst-kix_co21wru5f8uc-6>li:before {
  content: "-  "
}

.lst-kix_eke33rz6x0t3-2>li:before {
  content: "\0025a0  "
}

.lst-kix_c6sic8pnjzkd-1>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-1, lower-latin) ". "
}

.lst-kix_c6sic8pnjzkd-5>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-5, lower-roman) ". "
}

.lst-kix_co21wru5f8uc-3>li:before {
  content: "-  "
}

.lst-kix_co21wru5f8uc-4>li:before {
  content: "-  "
}

ul.lst-kix_dv0j04e0m88i-8 {
  list-style-type: none
}

ul.lst-kix_dv0j04e0m88i-7 {
  list-style-type: none
}

.lst-kix_kcwk45c8pu3d-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_dv0j04e0m88i-6 {
  list-style-type: none
}

ul.lst-kix_dv0j04e0m88i-5 {
  list-style-type: none
}

ul.lst-kix_kfvv6d1akmvh-1 {
  list-style-type: none
}

.lst-kix_co21wru5f8uc-5>li:before {
  content: "-  "
}

ul.lst-kix_dv0j04e0m88i-4 {
  list-style-type: none
}

ul.lst-kix_kfvv6d1akmvh-0 {
  list-style-type: none
}

.lst-kix_eke33rz6x0t3-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_dv0j04e0m88i-3 {
  list-style-type: none
}

ul.lst-kix_kfvv6d1akmvh-3 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-3>li:before {
  content: ""counter(lst-ctn-kix_c6sic8pnjzkd-3, decimal) ". "
}

.lst-kix_kcwk45c8pu3d-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_dv0j04e0m88i-2 {
  list-style-type: none
}

ul.lst-kix_kfvv6d1akmvh-2 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-2.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-2 0
}

.lst-kix_co21wru5f8uc-0>li:before {
  content: "-  "
}

ul.lst-kix_k6jfd8cea9um-8 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-6 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-7 {
  list-style-type: none
}

.lst-kix_co21wru5f8uc-2>li:before {
  content: "-  "
}

ul.lst-kix_k6jfd8cea9um-4 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-5 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-8.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-8 0
}

.lst-kix_co21wru5f8uc-1>li:before {
  content: "-  "
}

.lst-kix_a5frkz5r7lb-3>li:before {
  content: "-  "
}

ol.lst-kix_c6sic8pnjzkd-1.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-1 0
}

.lst-kix_kcwk45c8pu3d-0>li:before {
  content: "\0025cf  "
}

.lst-kix_a5frkz5r7lb-2>li:before {
  content: "-  "
}

ul.lst-kix_k6jfd8cea9um-2 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-6 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-3 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-7 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-0 {
  list-style-type: none
}

.lst-kix_kfvv6d1akmvh-3>li:before {
  content: "-  "
}

ol.lst-kix_c6sic8pnjzkd-8 {
  list-style-type: none
}

ul.lst-kix_k6jfd8cea9um-1 {
  list-style-type: none
}

.lst-kix_a5frkz5r7lb-1>li:before {
  content: "-  "
}

.lst-kix_kfvv6d1akmvh-4>li:before {
  content: "-  "
}

ol.lst-kix_c6sic8pnjzkd-2 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-3 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-4 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-5 {
  list-style-type: none
}

.lst-kix_a5frkz5r7lb-0>li:before {
  content: "-  "
}

ol.lst-kix_c6sic8pnjzkd-0 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-1 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-0>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-0
}

.lst-kix_a5frkz5r7lb-5>li:before {
  content: "-  "
}

.lst-kix_a5frkz5r7lb-7>li:before {
  content: "-  "
}

ul.lst-kix_m2jtpwbsyl2a-3 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-2 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-1 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-0 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-7 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-6 {
  list-style-type: none
}

ul.lst-kix_m2jtpwbsyl2a-5 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-3.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-3 0
}

ul.lst-kix_m2jtpwbsyl2a-4 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-1>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-1
}

.lst-kix_ldqsemhohrxm-6>li:before {
  content: "-  "
}

.lst-kix_ldqsemhohrxm-2>li:before {
  content: "-  "
}

.lst-kix_ldqsemhohrxm-4>li:before {
  content: "-  "
}

ul.lst-kix_m2jtpwbsyl2a-8 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-6.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-6 0
}

.lst-kix_k6jfd8cea9um-1>li:before {
  content: "\0025cb  "
}

.lst-kix_m2jtpwbsyl2a-5>li:before {
  content: "-  "
}

.lst-kix_k6jfd8cea9um-3>li:before {
  content: "\0025cf  "
}

.lst-kix_m2jtpwbsyl2a-3>li:before {
  content: "-  "
}

.lst-kix_k6jfd8cea9um-5>li:before {
  content: "\0025a0  "
}

.lst-kix_t16amf49s78-7>li:before {
  content: "-  "
}

.lst-kix_ldqsemhohrxm-8>li:before {
  content: "-  "
}

.lst-kix_m2jtpwbsyl2a-1>li:before {
  content: "-  "
}

.lst-kix_k6jfd8cea9um-7>li:before {
  content: "\0025cb  "
}

.lst-kix_c6sic8pnjzkd-7>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-7
}

.lst-kix_t16amf49s78-5>li:before {
  content: "-  "
}

.lst-kix_t16amf49s78-3>li:before {
  content: "-  "
}

ul.lst-kix_kcwk45c8pu3d-2 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-0 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-1 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-4 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-3 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-6 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-5 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-8 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-7 {
  list-style-type: none
}

.lst-kix_t16amf49s78-1>li:before {
  content: "-  "
}

ul.lst-kix_ldqsemhohrxm-8 {
  list-style-type: none
}

ol.lst-kix_c6sic8pnjzkd-5.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-5 0
}

ul.lst-kix_ldqsemhohrxm-7 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-6 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-5 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-4 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-3 {
  list-style-type: none
}

ul.lst-kix_kcwk45c8pu3d-0 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-2 {
  list-style-type: none
}

ul.lst-kix_ldqsemhohrxm-1 {
  list-style-type: none
}

.lst-kix_c6sic8pnjzkd-5>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-5
}

ol.lst-kix_c6sic8pnjzkd-4.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-4 0
}

.lst-kix_dv0j04e0m88i-0>li:before {
  content: "\0025cf  "
}

.lst-kix_dv0j04e0m88i-1>li:before {
  content: "\0025cb  "
}

.lst-kix_dv0j04e0m88i-2>li:before {
  content: "\0025a0  "
}

.lst-kix_dv0j04e0m88i-8>li:before {
  content: "\0025a0  "
}

.lst-kix_dv0j04e0m88i-7>li:before {
  content: "\0025cb  "
}

.lst-kix_dv0j04e0m88i-6>li:before {
  content: "\0025cf  "
}

.lst-kix_dv0j04e0m88i-4>li:before {
  content: "\0025cb  "
}

.lst-kix_dv0j04e0m88i-3>li:before {
  content: "\0025cf  "
}

.lst-kix_dv0j04e0m88i-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_eke33rz6x0t3-0 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-1 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-2 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-7 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-8 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-3 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-4 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-5 {
  list-style-type: none
}

ul.lst-kix_eke33rz6x0t3-6 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-8 {
  list-style-type: none
}

.lst-kix_a5frkz5r7lb-4>li:before {
  content: "-  "
}

.lst-kix_a5frkz5r7lb-6>li:before {
  content: "-  "
}

ul.lst-kix_a5frkz5r7lb-0 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-1 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-2 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-3 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-4 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-5 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-6 {
  list-style-type: none
}

ul.lst-kix_a5frkz5r7lb-7 {
  list-style-type: none
}

.lst-kix_a5frkz5r7lb-8>li:before {
  content: "-  "
}

ol.lst-kix_c6sic8pnjzkd-0.start {
  counter-reset: lst-ctn-kix_c6sic8pnjzkd-0 0
}

ul.lst-kix_co21wru5f8uc-3 {
  list-style-type: none
}

.lst-kix_ldqsemhohrxm-7>li:before {
  content: "-  "
}

ul.lst-kix_co21wru5f8uc-4 {
  list-style-type: none
}

ul.lst-kix_co21wru5f8uc-5 {
  list-style-type: none
}

ul.lst-kix_co21wru5f8uc-6 {
  list-style-type: none
}

.lst-kix_t16amf49s78-8>li:before {
  content: "-  "
}

ul.lst-kix_co21wru5f8uc-7 {
  list-style-type: none
}

.lst-kix_ldqsemhohrxm-5>li:before {
  content: "-  "
}

ul.lst-kix_co21wru5f8uc-8 {
  list-style-type: none
}

.lst-kix_ldqsemhohrxm-3>li:before {
  content: "-  "
}

ul.lst-kix_co21wru5f8uc-0 {
  list-style-type: none
}

ul.lst-kix_co21wru5f8uc-1 {
  list-style-type: none
}

ul.lst-kix_co21wru5f8uc-2 {
  list-style-type: none
}

.lst-kix_k6jfd8cea9um-0>li:before {
  content: "\0025cf  "
}

.lst-kix_m2jtpwbsyl2a-6>li:before {
  content: "-  "
}

.lst-kix_k6jfd8cea9um-4>li:before {
  content: "\0025cb  "
}

.lst-kix_m2jtpwbsyl2a-2>li:before {
  content: "-  "
}

.lst-kix_m2jtpwbsyl2a-4>li:before {
  content: "-  "
}

.lst-kix_k6jfd8cea9um-6>li:before {
  content: "\0025cf  "
}

.lst-kix_k6jfd8cea9um-8>li:before {
  content: "\0025a0  "
}

.lst-kix_m2jtpwbsyl2a-0>li:before {
  content: "-  "
}

.lst-kix_t16amf49s78-6>li:before {
  content: "-  "
}

.lst-kix_c6sic8pnjzkd-3>li {
  counter-increment: lst-ctn-kix_c6sic8pnjzkd-3
}

.lst-kix_t16amf49s78-2>li:before {
  content: "-  "
}

.lst-kix_t16amf49s78-4>li:before {
  content: "-  "
}

.lst-kix_t16amf49s78-0>li:before {
  content: "-  "
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

.lst-kix_k6jfd8cea9um-2>li:before {
  content: "\0025a0  "
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c26 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c21 {
  padding-top: 16pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c27 {
  padding-top: 20pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c4 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c19 {
  padding-top: 18pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c29 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 26pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c16 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c23 {
  padding-top: 16pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c2 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 8pt;
  font-family: "Roboto Mono";
  font-style: normal
}

.c10 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 16pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c7 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 20pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c8 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c18 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 10pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c5 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c6 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: center
}

.c24 {
  padding-top: 10pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c3 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c12 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c15 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt
}

.c9 {
  font-size: 8pt;
  font-family: "Roboto Mono";
  font-weight: 400
}

.c11 {
  color: inherit;
  text-decoration: inherit
}

.c28 {
  margin-left: 36pt;
  text-indent: 36pt
}

.c17 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c20 {
  font-size: 10pt;
  font-weight: 700
}

.c0 {
  padding: 0;
  margin: 0
}

.c25 {
  margin-left: 72pt
}

.c22 {
  font-style: italic
}

.c14 {
  height: 11pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  font-size: 11pt;
  /* font-family: "Arial" */
}

p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  /* font-family: "Arial" */
}

h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}
