@import url('https://themes.googleusercontent.com/fonts/css?kit=4mNYFHt_IKFsPe52toizHz0e5qzIIUg9OvSRGeMDk3I');

ul.lst-kix_yrtb4cll1z34-8 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-7 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-6 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-5 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-4 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-3 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-2 {
  list-style-type: none
}

ul.lst-kix_yrtb4cll1z34-1 {
  list-style-type: none
}

.lst-kix_nvwabugb3s06-1>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-1
}

.lst-kix_b683yt8w7gzs-3>li:before {
  content: "\0025cf  "
}

.lst-kix_b683yt8w7gzs-4>li:before {
  content: "\0025cb  "
}

ol.lst-kix_nvwabugb3s06-0 {
  list-style-type: none
}

.lst-kix_b683yt8w7gzs-2>li:before {
  content: "\0025a0  "
}

.lst-kix_b683yt8w7gzs-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_nvwabugb3s06-4.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-4 0
}

.lst-kix_b683yt8w7gzs-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_yrtb4cll1z34-0 {
  list-style-type: none
}

.lst-kix_b683yt8w7gzs-7>li:before {
  content: "\0025cb  "
}

.lst-kix_b683yt8w7gzs-8>li:before {
  content: "\0025a0  "
}

.lst-kix_nvwabugb3s06-2>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-2, lower-roman) ". "
}

.lst-kix_nvwabugb3s06-3>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-3
}

.lst-kix_nvwabugb3s06-1>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-1, lower-latin) ". "
}

.lst-kix_nvwabugb3s06-0>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-0, decimal) ". "
}

.lst-kix_b683yt8w7gzs-0>li:before {
  content: "\0025cf  "
}

.lst-kix_b683yt8w7gzs-1>li:before {
  content: "\0025cb  "
}

.lst-kix_uu8qrbmj0y3h-7>li:before {
  content: "\0025cb  "
}

.lst-kix_1rjsb5ha0r5a-7>li:before {
  content: "\0025cb  "
}

.lst-kix_1rjsb5ha0r5a-8>li:before {
  content: "\0025a0  "
}

.lst-kix_uu8qrbmj0y3h-6>li:before {
  content: "\0025cf  "
}

.lst-kix_uu8qrbmj0y3h-8>li:before {
  content: "\0025a0  "
}

.lst-kix_1rjsb5ha0r5a-4>li:before {
  content: "\0025cb  "
}

.lst-kix_uu8qrbmj0y3h-4>li:before {
  content: "\0025cb  "
}

.lst-kix_uu8qrbmj0y3h-5>li:before {
  content: "\0025a0  "
}

.lst-kix_1rjsb5ha0r5a-5>li:before {
  content: "\0025a0  "
}

.lst-kix_1rjsb5ha0r5a-6>li:before {
  content: "\0025cf  "
}

.lst-kix_nvwabugb3s06-8>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-8, lower-roman) ". "
}

.lst-kix_nvwabugb3s06-7>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-7, lower-latin) ". "
}

.lst-kix_1rjsb5ha0r5a-0>li:before {
  content: "\0025cf  "
}

.lst-kix_uu8qrbmj0y3h-0>li:before {
  content: "\0025cf  "
}

.lst-kix_nvwabugb3s06-6>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-6, decimal) ". "
}

.lst-kix_nvwabugb3s06-3>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-3, decimal) ". "
}

.lst-kix_nvwabugb3s06-6>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-6
}

.lst-kix_uu8qrbmj0y3h-3>li:before {
  content: "\0025cf  "
}

.lst-kix_1rjsb5ha0r5a-3>li:before {
  content: "\0025cf  "
}

.lst-kix_uu8qrbmj0y3h-2>li:before {
  content: "\0025a0  "
}

.lst-kix_nvwabugb3s06-5>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-5, lower-roman) ". "
}

.lst-kix_uu8qrbmj0y3h-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_nvwabugb3s06-5.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-5 0
}

.lst-kix_1rjsb5ha0r5a-1>li:before {
  content: "\0025cb  "
}

.lst-kix_1rjsb5ha0r5a-2>li:before {
  content: "\0025a0  "
}

.lst-kix_nvwabugb3s06-4>li:before {
  content: ""counter(lst-ctn-kix_nvwabugb3s06-4, lower-latin) ". "
}

.lst-kix_wryitu7o58dn-1>li:before {
  content: "\0025cb  "
}

.lst-kix_wryitu7o58dn-3>li:before {
  content: "\0025cf  "
}

.lst-kix_wryitu7o58dn-5>li:before {
  content: "\0025a0  "
}

.lst-kix_5u7dbiyk05fe-4>li:before {
  content: "\0025cb  "
}

.lst-kix_wryitu7o58dn-7>li:before {
  content: "\0025cb  "
}

.lst-kix_5u7dbiyk05fe-2>li:before {
  content: "\0025a0  "
}

.lst-kix_5u7dbiyk05fe-0>li:before {
  content: "\0025cf  "
}

.lst-kix_nvwabugb3s06-7>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-7
}

ol.lst-kix_nvwabugb3s06-0.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-0 0
}

.lst-kix_vqylmas443mj-0>li:before {
  content: "\0025cf  "
}

.lst-kix_vqylmas443mj-4>li:before {
  content: "\0025cb  "
}

.lst-kix_vqylmas443mj-6>li:before {
  content: "\0025cf  "
}

ol.lst-kix_nvwabugb3s06-3.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-3 0
}

.lst-kix_nvwabugb3s06-8>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-8
}

.lst-kix_vqylmas443mj-2>li:before {
  content: "\0025a0  "
}

ol.lst-kix_nvwabugb3s06-2.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-2 0
}

ul.lst-kix_uu8qrbmj0y3h-1 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-2 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-3 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-4 {
  list-style-type: none
}

.lst-kix_vqylmas443mj-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_uu8qrbmj0y3h-0 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-5 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-6 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-7 {
  list-style-type: none
}

ul.lst-kix_uu8qrbmj0y3h-8 {
  list-style-type: none
}

.lst-kix_yrtb4cll1z34-6>li:before {
  content: "-  "
}

.lst-kix_yrtb4cll1z34-8>li:before {
  content: "-  "
}

.lst-kix_k1gvlg26co63-6>li:before {
  content: "\0025cf  "
}

.lst-kix_k1gvlg26co63-8>li:before {
  content: "\0025a0  "
}

.lst-kix_yrtb4cll1z34-5>li:before {
  content: "-  "
}

.lst-kix_k1gvlg26co63-7>li:before {
  content: "\0025cb  "
}

.lst-kix_nvwabugb3s06-0>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-0
}

.lst-kix_k1gvlg26co63-2>li:before {
  content: "\0025a0  "
}

.lst-kix_k1gvlg26co63-1>li:before {
  content: "\0025cb  "
}

.lst-kix_yrtb4cll1z34-7>li:before {
  content: "-  "
}

.lst-kix_5v2b3q3gto5w-8>li:before {
  content: "\0025a0  "
}

.lst-kix_yrtb4cll1z34-0>li:before {
  content: "-  "
}

.lst-kix_5v2b3q3gto5w-7>li:before {
  content: "\0025cb  "
}

.lst-kix_yrtb4cll1z34-1>li:before {
  content: "-  "
}

.lst-kix_5v2b3q3gto5w-6>li:before {
  content: "\0025cf  "
}

.lst-kix_k1gvlg26co63-3>li:before {
  content: "\0025cf  "
}

ol.lst-kix_nvwabugb3s06-1.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-1 0
}

.lst-kix_k1gvlg26co63-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_vqylmas443mj-8 {
  list-style-type: none
}

ul.lst-kix_vqylmas443mj-7 {
  list-style-type: none
}

ul.lst-kix_vqylmas443mj-6 {
  list-style-type: none
}

.lst-kix_yrtb4cll1z34-2>li:before {
  content: "-  "
}

.lst-kix_yrtb4cll1z34-4>li:before {
  content: "-  "
}

ul.lst-kix_vqylmas443mj-5 {
  list-style-type: none
}

ul.lst-kix_vqylmas443mj-4 {
  list-style-type: none
}

ul.lst-kix_vqylmas443mj-3 {
  list-style-type: none
}

.lst-kix_k1gvlg26co63-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_vqylmas443mj-2 {
  list-style-type: none
}

.lst-kix_yrtb4cll1z34-3>li:before {
  content: "-  "
}

ol.lst-kix_nvwabugb3s06-7.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-7 0
}

.lst-kix_wthkbpmzefdn-8>li:before {
  content: "\0025a0  "
}

.lst-kix_k1gvlg26co63-0>li:before {
  content: "\0025cf  "
}

.lst-kix_wthkbpmzefdn-6>li:before {
  content: "\0025cf  "
}

.lst-kix_wthkbpmzefdn-5>li:before {
  content: "\0025a0  "
}

.lst-kix_wthkbpmzefdn-7>li:before {
  content: "\0025cb  "
}

.lst-kix_nvwabugb3s06-2>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-2
}

ul.lst-kix_wryitu7o58dn-8 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-5 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-4 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-7 {
  list-style-type: none
}

.lst-kix_wthkbpmzefdn-3>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wryitu7o58dn-6 {
  list-style-type: none
}

.lst-kix_wthkbpmzefdn-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_wryitu7o58dn-1 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-0 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-3 {
  list-style-type: none
}

ul.lst-kix_wryitu7o58dn-2 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-0 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-1 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-2 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-3 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-4 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-5 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-6 {
  list-style-type: none
}

.lst-kix_wthkbpmzefdn-2>li:before {
  content: "\0025a0  "
}

.lst-kix_wthkbpmzefdn-1>li:before {
  content: "\0025cb  "
}

.lst-kix_wthkbpmzefdn-0>li:before {
  content: "\0025cf  "
}

ol.lst-kix_nvwabugb3s06-6.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-6 0
}

ul.lst-kix_5u7dbiyk05fe-7 {
  list-style-type: none
}

ul.lst-kix_5u7dbiyk05fe-8 {
  list-style-type: none
}

ul.lst-kix_vqylmas443mj-1 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-4 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-1 {
  list-style-type: none
}

.lst-kix_5v2b3q3gto5w-0>li:before {
  content: "\0025cf  "
}

ul.lst-kix_vqylmas443mj-0 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-3 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-2 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-6 {
  list-style-type: none
}

.lst-kix_5v2b3q3gto5w-1>li:before {
  content: "\0025cb  "
}

ul.lst-kix_b683yt8w7gzs-5 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-0 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-0 {
  list-style-type: none
}

.lst-kix_5v2b3q3gto5w-2>li:before {
  content: "\0025a0  "
}

ul.lst-kix_b683yt8w7gzs-2 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-1 {
  list-style-type: none
}

.lst-kix_5v2b3q3gto5w-4>li:before {
  content: "\0025cb  "
}

ul.lst-kix_wthkbpmzefdn-7 {
  list-style-type: none
}

.lst-kix_5v2b3q3gto5w-3>li:before {
  content: "\0025cf  "
}

.lst-kix_5v2b3q3gto5w-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_wthkbpmzefdn-8 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-8 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-5 {
  list-style-type: none
}

ul.lst-kix_b683yt8w7gzs-7 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-6 {
  list-style-type: none
}

.lst-kix_5u7dbiyk05fe-6>li:before {
  content: "\0025cf  "
}

ul.lst-kix_wthkbpmzefdn-3 {
  list-style-type: none
}

ul.lst-kix_wthkbpmzefdn-4 {
  list-style-type: none
}

.lst-kix_5u7dbiyk05fe-7>li:before {
  content: "\0025cb  "
}

.lst-kix_5u7dbiyk05fe-8>li:before {
  content: "\0025a0  "
}

ul.lst-kix_k1gvlg26co63-4 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-5 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-6 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-8.start {
  counter-reset: lst-ctn-kix_nvwabugb3s06-8 0
}

ul.lst-kix_k1gvlg26co63-7 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-8 {
  list-style-type: none
}

.lst-kix_wryitu7o58dn-2>li:before {
  content: "\0025a0  "
}

.lst-kix_nvwabugb3s06-5>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-5
}

.lst-kix_wryitu7o58dn-4>li:before {
  content: "\0025cb  "
}

.lst-kix_5u7dbiyk05fe-5>li:before {
  content: "\0025a0  "
}

.lst-kix_wryitu7o58dn-6>li:before {
  content: "\0025cf  "
}

.lst-kix_5u7dbiyk05fe-3>li:before {
  content: "\0025cf  "
}

.lst-kix_wryitu7o58dn-8>li:before {
  content: "\0025a0  "
}

.lst-kix_5u7dbiyk05fe-1>li:before {
  content: "\0025cb  "
}

.lst-kix_nvwabugb3s06-4>li {
  counter-increment: lst-ctn-kix_nvwabugb3s06-4
}

ul.lst-kix_5v2b3q3gto5w-0 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-0 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-1 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-2 {
  list-style-type: none
}

ul.lst-kix_k1gvlg26co63-3 {
  list-style-type: none
}

.lst-kix_wryitu7o58dn-0>li:before {
  content: "\0025cf  "
}

.lst-kix_vqylmas443mj-3>li:before {
  content: "\0025cf  "
}

.lst-kix_vqylmas443mj-5>li:before {
  content: "\0025a0  "
}

ul.lst-kix_5v2b3q3gto5w-4 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-3 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-2 {
  list-style-type: none
}

.lst-kix_vqylmas443mj-7>li:before {
  content: "\0025cb  "
}

ul.lst-kix_5v2b3q3gto5w-1 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-8 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-7 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-6 {
  list-style-type: none
}

ul.lst-kix_5v2b3q3gto5w-5 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-6 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-5 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-8 {
  list-style-type: none
}

.lst-kix_vqylmas443mj-1>li:before {
  content: "\0025cb  "
}

ol.lst-kix_nvwabugb3s06-7 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-2 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-1 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-4 {
  list-style-type: none
}

ol.lst-kix_nvwabugb3s06-3 {
  list-style-type: none
}

li.li-bullet-0:before {
  margin-left: -18pt;
  white-space: nowrap;
  display: inline-block;
  min-width: 18pt
}

ul.lst-kix_1rjsb5ha0r5a-8 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-7 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-6 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-5 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-4 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-3 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-2 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-1 {
  list-style-type: none
}

ul.lst-kix_1rjsb5ha0r5a-0 {
  list-style-type: none
}

ol {
  margin: 0;
  padding: 0
}

table td,
table th {
  padding: 0
}

.c6 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 124.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c17 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 201pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c33 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 233.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c10 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 249pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c8 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 216.8pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c37 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 269.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c18 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 314.2pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c20 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 325.5pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c31 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 180.8pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c9 {
  border-right-style: solid;
  padding: 2.2pt 2.2pt 2.2pt 2.2pt;
  border-bottom-color: #000000;
  border-top-width: 1pt;
  border-right-width: 1pt;
  border-left-color: #000000;
  vertical-align: top;
  border-right-color: #000000;
  border-left-width: 1pt;
  border-top-style: solid;
  border-left-style: solid;
  border-bottom-width: 1pt;
  width: 135.8pt;
  border-top-color: #000000;
  border-bottom-style: solid
}

.c32 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 12pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c38 {
  background-color: #ffffff;
  margin-left: 36pt;
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c26 {
  color: #24292f;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  /* font-size: 10.5pt; */
  /* font-family: "Arial"; */
  font-style: normal
}

.c27 {
  color: #434343;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  /* font-size: 14pt; */
  /* font-family: "Arial"; */
  font-style: normal
}

.c21 {
  background-color: #ffffff;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c24 {
  margin-left: 36pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c1 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 13pt;
  /* font-family: "Arial"; */
  font-style: normal
}

.c25 {
  margin-left: 18pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c11 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  /* font-size: 11pt; */
  /* font-family: "Arial"; */
  font-style: normal
}

.c78 {
  -webkit-text-decoration-skip: none;
  color: #000000;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  /* font-size: 11pt; */
  font-style: normal
}

.c39 {
  padding-top: 0pt;
  padding-bottom: 16pt;
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c5 {
  color: #0000ff;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  /* font-size: 10.5pt; */
  /* font-family: "Consolas"; */
  font-style: normal
}

.c13 {
  padding-top: 0pt;
  padding-bottom: 10pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c51 {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  /* font-size: 11pt; */
  /* font-family: "Arial" */
}

.c4 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left
}

.c15 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.3571428571428572;
  text-align: left
}

.c59 {
  margin-left: 54pt;
  padding-top: 3pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c80 {
  padding-top: 14pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-align: left
}

.c73 {
  padding-top: 0pt;
  padding-bottom: 3pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-align: left
}

.c58 {
  padding-top: 16pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-align: left
}

.c54 {
  padding-top: 20pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-align: left
}

.c77 {
  margin-left: 18pt;
  padding-top: 3pt;
  padding-bottom: 4pt;
  line-height: 1.0;
  text-align: left
}

.c42 {
  padding-top: 18pt;
  padding-bottom: 6pt;
  line-height: 1.15;
  page-break-after: avoid;
  text-align: left
}

.c68 {
  padding-top: 0pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  text-align: left
}

.c14 {
  color: #000000;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c56 {
  color: #001080;
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c16 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #1155cc;
  text-decoration: underline
}

.c52 {
  padding-top: 8pt;
  padding-bottom: 10pt;
  line-height: 1.0;
  text-align: left
}

.c2 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c29 {
  border-spacing: 0;
  border-collapse: collapse;
  /* margin-right: auto */
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.c72 {
  padding-top: 3pt;
  padding-bottom: 12pt;
  line-height: 1.15;
  text-align: left
}

.c69 {
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  color: #0000ee;
  text-decoration: underline
}

.c44 {
  padding-top: 10pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c46 {
  background-color: #ffff00;
  text-decoration-skip-ink: none;
  -webkit-text-decoration-skip: none;
  text-decoration: underline
}

.c66 {
  padding-top: 4pt;
  padding-bottom: 0pt;
  line-height: 1.0;
  text-align: left
}

.c19 {
  font-weight: 400;
  /* font-size: 20pt; */
  /* font-family: "Arial" */
}

.c65 {
  background-color: #ffffff;
  max-width: 451.4pt;
  padding: 72pt 72pt 72pt 72pt
}

.c62 {
  font-weight: 400;
  /* font-size: 7pt; */
  /* font-family: "Roboto Mono" */
}

.c3 {
  /* font-size: 9pt; */
  /* font-family: "Roboto Mono"; */
  font-weight: 400
}

.c34 {
  font-weight: 400;
  /* font-size: 16pt; */
  /* font-family: "Arial" */
}

.c63 {
  background-color: #ffffff;
  margin-left: 72pt;
  padding-left: 0pt
}

.c60 {
  text-decoration: none;
  vertical-align: baseline;
  font-style: normal
}

.c41 {
  orphans: 2;
  widows: 2
}

.c12 {
  color: inherit;
  text-decoration: inherit
}

.c45 {
  margin-left: 36pt;
  padding-left: 0pt
}

.c22 {
  font-weight: 400;
  /* font-family: "Consolas" */
}

.c76 {
  width: 33%;
  height: 1px
}

.c28 {
  background-color: #ffffff;
  color: #333333
}

.c75 {
  color: #666666;
  /* font-size: 12pt */
}

.c71 {
  color: #666666;
  /* font-size: 15pt */
}

.c35 {
  /* font-size: 10.5pt; */
  color: #267f99
}

.c36 {
  color: #1155cc;
  /* font-size: 10.5pt */
}

.c47 {
  background-color: #ffff00;
  /* font-size: 10pt */
}

.c64 {
  margin-left: 72pt;
  padding-left: 0pt
}

.c23 {
  /* font-size: 10.5pt; */
  color: #0000ff
}

.c43 {
  color: #24292f;
  /* font-size: 10.5pt */
}

.c57 {
  font-weight: 400;
  /* font-family: "Arial" */
}

.c50 {
  padding: 0;
  margin: 0
}

.c53 {
  /* font-size: 10.5pt */
}

.c55 {
  color: #ff4500
}

.c67 {
  background-color: #ffffff
}

.c0 {
  height: 0pt
}

.c74 {
  color: #595959
}

.c70 {
  /* font-size: 9pt */
}

.c49 {
  /* font-size: 10pt */
}

.c30 {
  font-weight: 700
}

.c7 {
  height: 11pt
}

.c48 {
  height: 16.4pt
}

.c40 {
  font-style: italic
}

.c79 {
  /* font-size: 26pt */
}

.c61 {
  margin-left: 36pt
}

.title {
  padding-top: 0pt;
  color: #000000;
  /* font-size: 26pt; */
  padding-bottom: 3pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

.subtitle {
  padding-top: 0pt;
  color: #666666;
  /* font-size: 15pt; */
  padding-bottom: 16pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

li {
  color: #000000;
  /* font-size: 11pt; */
  /* font-family: "Arial" */
}

p {
  margin: 0;
  color: #000000;
  /* font-size: 11pt; */
  /* font-family: "Arial" */
}

h1 {
  padding-top: 20pt;
  color: #000000;
  /* font-size: 20pt; */
  padding-bottom: 6pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h2 {
  padding-top: 18pt;
  color: #000000;
  /* font-size: 16pt; */
  padding-bottom: 6pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h3 {
  padding-top: 16pt;
  color: #434343;
  /* font-size: 14pt; */
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h4 {
  padding-top: 14pt;
  color: #666666;
  /* font-size: 12pt; */
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h5 {
  padding-top: 12pt;
  color: #666666;
  /* font-size: 11pt; */
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left
}

h6 {
  padding-top: 12pt;
  color: #666666;
  /* font-size: 11pt; */
  padding-bottom: 4pt;
  /* font-family: "Arial"; */
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left
}

.tableOfContents {
  font-size: 14pt;
}
